body {
  font-size: 10px; }
  body .page {
    position: relative;
    z-index: 2; }

* {
  font-family: "Space Mono", monospace, sans-serif;
  font-size: inherit; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

p {
  font-size: 1.5em; }

a {
  color: black; }
  a:hover {
    color: black; }

img {
  max-width: 100%;
  height: auto; }

.page {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px; }

@media (min-width: 719px) {
  body {
    font-size: 11px; } }

@media only screen and (min-width: 1023px) {
  body {
    font-size: 12px; } }

.header {
  margin: 2em 0; }
  .header h1 {
    font-family: "alternate-gothic-no-1-d", sans-serif;
    margin: 0; }

.entry {
  font-size: 1.1em; }
  .entry .inputs {
    padding: 0;
    margin: 0; }
    .entry .inputs li {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    .entry .inputs li {
      margin: 0 0 1em; }
  .entry .radios {
    padding: 0;
    margin: 0; }
    .entry .radios li {
      list-style-type: none;
      margin: 0;
      padding: 0; }
  .entry label {
    display: block;
    margin: 0 0 0.5em; }
  .entry input[type=range] {
    width: 100%;
    max-width: 40em; }
  .entry textarea {
    padding: 0.4em;
    width: 100%;
    height: 5em;
    max-width: 40em; }

.asset {
  width: 100%;
  height: 100%; }
  .asset .gradient-container {
    position: relative;
    overflow: hidden; }
  .asset .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1000%; }
    .asset .gradient:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: -webkit-gradient(linear, left top, right top, from(#cdd7e0), color-stop(7%, #ff6524), color-stop(14%, #ff4334), color-stop(20%, #ff5000), color-stop(27%, #f905cd), color-stop(35%, #b21f81), color-stop(40%, #cdd7e0), color-stop(47%, #ff5000), color-stop(54%, #ff2c65), color-stop(59%, white), color-stop(61%, #0d156c), color-stop(65%, #cdd7e0), color-stop(72%, #ff6524), color-stop(79%, #ff4334), color-stop(85%, #ff5000), color-stop(92%, #f905cd), to(#b21f81));
      background: linear-gradient(90deg, #cdd7e0 0%, #ff6524 7%, #ff4334 14%, #ff5000 20%, #f905cd 27%, #b21f81 35%, #cdd7e0 40%, #ff5000 47%, #ff2c65 54%, white 59%, #0d156c 61%, #cdd7e0 65%, #ff6524 72%, #ff4334 79%, #ff5000 85%, #f905cd 92%, #b21f81 100%); }
    .asset .gradient:after {
      content: "";
      display: block;
      background: url(images/noise.gif);
      background-size: 500px 500px;
      position: absolute;
      opacity: 0.10;
      z-index: 1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
  .asset .title, .asset .info {
    color: white;
    text-transform: uppercase;
    position: relative;
    z-index: 10; }
  .asset .title:after {
    content: "";
    background-color: white;
    display: block;
    width: 1em;
    height: 0.2em;
    margin: 0.5em 0; }
  .asset.black .title, .asset.black .info {
    color: black; }
  .asset.black .title:after {
    background-color: black; }

.poster {
  position: relative;
  font-size: 59px;
  width: 21em;
  height: 29.7em; }
  .poster .content {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    right: 0.5em;
    bottom: 3em;
    padding: 3em 2em; }
    .poster .content .title, .poster .content .info {
      font-size: 1.4em;
      text-transform: uppercase; }
  .poster .footer {
    position: absolute;
    left: 0.5em;
    right: 0.5em;
    bottom: 0.5em; }
    .poster .footer .link {
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 0.5em; }
    .poster .footer .logo {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 30%;
      height: auto; }

.flyer {
  position: relative;
  font-size: 30px;
  width: 29.2em;
  height: 20.7em; }
  .flyer .content {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    right: 0.5em;
    bottom: 3em;
    padding: 3em 2em; }
    .flyer .content .title, .flyer .content .info {
      font-size: 1.4em;
      text-transform: uppercase; }
  .flyer .footer {
    position: absolute;
    left: 0.5em;
    right: 0.5em;
    bottom: 0.5em; }
    .flyer .footer .link {
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 0.5em; }
    .flyer .footer .logo {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 30%;
      height: auto; }
  .flyer .content {
    padding: 2em 1.5em; }

.fbevent {
  position: relative;
  font-size: 10px;
  width: 192em;
  height: 108em; }
  .fbevent .content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 0;
    padding: 8em 6em; }
    .fbevent .content .title, .fbevent .content .info {
      font-size: 10em; }
  .fbevent .footer {
    position: absolute;
    bottom: 4em;
    right: 4em;
    left: 4em; }
    .fbevent .footer .link {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 3em;
      color: white; }
    .fbevent .footer .logo {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 30%;
      height: auto; }
  .fbevent.black .link {
    color: black; }

.instagram {
  position: relative;
  font-size: 10px;
  width: 120em;
  height: 120em; }
  .instagram .content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 0;
    padding: 8em 6em; }
    .instagram .content .title, .instagram .content .info {
      font-size: 8em; }
  .instagram .footer {
    position: absolute;
    bottom: 4em;
    right: 4em;
    left: 4em; }
    .instagram .footer .link {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 3em;
      color: white; }
    .instagram .footer .logo {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 30%;
      height: auto; }
  .instagram.black .link {
    color: black; }

.twitter {
  position: relative;
  font-size: 10px;
  width: 120em;
  height: 60em; }
  .twitter .content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 0;
    padding: 8em 6em; }
    .twitter .content .title, .twitter .content .info {
      font-size: 5em; }
  .twitter .footer {
    position: absolute;
    bottom: 4em;
    right: 4em;
    left: 4em; }
    .twitter .footer .link {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 3em;
      color: white; }
    .twitter .footer .logo {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 30%;
      height: auto; }
  .twitter.black .link {
    color: black; }

.previews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .previews .preview {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0 2em 2em 0; }
    .previews .preview h3 {
      margin: 0; }
    .previews .preview .asset {
      margin: 14px 0; }
      .previews .preview .asset.print {
        -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.2); }
  .previews .print {
    font-size: 12px; }
  .previews .fbevent {
    font-size: 3px; }
  .previews .twitter {
    font-size: 4px; }
  .previews .instagram {
    font-size: 3px; }
