.asset {
    width: 100%;
    height: 100%;

    .gradient-container {
        position: relative;
        overflow: hidden;
    }

    .gradient {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1000%;

        &:before {
            content: "";
            display: block;
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            background-image: url(/static/images/gradient.png);
            background-size: 100% 10px;
        }

        &:after {
            content: "";
            display: block;
            background: url(/static/images/noise.gif);
            background-size: 500px 500px;
            position: absolute;
            opacity: 0.10;
            z-index: 1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

    .title, .info {
        color: white;
        text-transform: uppercase;
        position: relative;
        z-index: 10;
    }

    .title {
        &:after {
            content: "";
            background-color: white;
            display: block;
            width: 1em;
            height: 0.2em;
            margin: 0.5em 0;
        }
    }
}

.poster {
    font-size: 10mm;
    width: 21em;
    height: 29.7em;

    position: relative;

    .content {
        position: absolute;
        left: 0.5em;
        top: 0.5em;
        right: 0.5em;
        bottom: 3em;
        padding: 1em;

        .title, .info {
            font-size: 1.4em;
            text-transform: uppercase;
        }
    }

    .footer {
        position: absolute;
        left: 0.5em;
        right: 0.5em;
        bottom: 0.5em;

        .link {
            float: left;
            font-size: 0.5em;
        }

        .logo {
            float: right;
            width: 30%;
            height: auto;
        }
    }
}

.fbheader {
    font-size: 10px;
    width: 120em;
    height: 60em;
    position: relative;

    .content {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        z-index: 0;
        padding: 4em;

        .title, .info {
            font-size: 5em;
        }
    }

    .footer {
        position: absolute;
        bottom: 4em;
        right: 4em;
        left: 4em;

        .link {
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 3em;
            color: white;
        }

        .logo {
            position: absolute;
            right: 0;
            bottom: 0;

            width: 30%;
            height: auto;
        }
    }
}
