.asset {
    width: 100%;
    height: 100%;

    .gradient-container {
        position: relative;
        overflow: hidden;
    }

    .gradient {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1000%;

        &:before {
            content: "";
            display: block;
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            background: linear-gradient(
                90deg,
                $c-grad00 0%,
                $c-grad01 7%,
                $c-grad02 14%,
                $c-grad03 20%,
                $c-grad04 27%,
                $c-grad05 35%,
                $c-grad06 40%,
                $c-grad07 47%,
                $c-grad08 54%,
                $c-grad09 59%,
                $c-grad10 61%,
                $c-grad00 65%,
                $c-grad01 72%,
                $c-grad02 79%,
                $c-grad03 85%,
                $c-grad04 92%,
                $c-grad05 100%
            );
        }

        &:after {
            content: "";
            display: block;
            background: url(images/noise.gif);
            background-size: 500px 500px;
            position: absolute;
            opacity: 0.10;
            z-index: 1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

    .title, .info {
        color: white;
        text-transform: uppercase;
        position: relative;
        z-index: 10;
    }

    .title {
        &:after {
            content: "";
            background-color: white;
            display: block;
            width: 1em;
            height: 0.2em;
            margin: 0.5em 0;
        }
    }

    &.black {
        .title, .info {
            color: black;
        }

        .title:after {
            background-color: black;
        }
    }
}

@mixin print-asset($text-size: 1.4em) {
    position: relative;

    .content {
        position: absolute;
        left: 0.5em;
        top: 0.5em;
        right: 0.5em;
        bottom: 3em;
        padding: 3em 2em;

        .title, .info {
            font-size: $text-size;
            text-transform: uppercase;
        }
    }

    .footer {
        position: absolute;
        left: 0.5em;
        right: 0.5em;
        bottom: 0.5em;

        .link {
            position: absolute;
            left: 0;
            bottom: 0;
            font-size: 0.5em;
        }

        .logo {
            position: absolute;
            right: 0;
            bottom: 0;

            width: 30%;
            height: auto;
        }
    }
}

.poster {
    @include print-asset();

    font-size: 59px;
    width: 21em;
    height: 29.7em;
}

.flyer {
    @include print-asset();

    font-size: 30px;
    width: 29.2em;
    height: 20.7em;

    .content {
        padding: 2em 1.5em;
    }
}

@mixin socmed-asset($text-size: 8em) {
    position: relative;

    .content {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        z-index: 0;
        padding: 8em 6em;

        .title, .info {
            font-size: $text-size;
        }
    }

    .footer {
        position: absolute;
        bottom: 4em;
        right: 4em;
        left: 4em;

        .link {
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 3em;
            color: white;
        }

        .logo {
            position: absolute;
            right: 0;
            bottom: 0;

            width: 30%;
            height: auto;
        }
    }

    &.black {
        .link {
            color: black;
        }
    }
}

.fbevent {
    @include socmed-asset(10em);
    font-size: 10px;
    width: 192em;
    height: 108em;
}

.instagram {
    @include socmed-asset();
    font-size: 10px;
    width: 120em;
    height: 120em;
}

.twitter {
    @include socmed-asset(5em);

    font-size: 10px;
    width: 120em;
    height: 60em;
}
