@mixin animated-gradient-background($pos: fixed, $timescale: 1.0) {
    overflow-x: hidden;

    &:before {
        content: "";
        display: block;
        position: $pos;
        z-index: 0;
        top: 0;
        left: 0;
        bottom: 0;
        width: 4000px;

        background: linear-gradient(
            90deg,
            $c-grad00 0%,
            $c-grad01 7%,
            $c-grad02 14%,
            $c-grad03 20%,
            //$c-grad04 27%,
            $c-grad05 35%,
            $c-grad06 40%,
            $c-grad07 47%,
            $c-grad08 54%,
            $c-grad09 59%,
            $c-grad10 61%,
            $c-grad00 65%,
            $c-grad01 72%,
            $c-grad02 79%,
            $c-grad03 85%,
            //$c-grad04 92%,
            $c-grad05 100%
        );

        animation: moving-gradient 60s * $timescale linear infinite, scale-gradient 10s * $timescale infinite;
    }

    &:after {
        content: "";
        display: block;
        background: url(images/noise.gif);
        background-size: 500px 500px;
        position: $pos;
        opacity: 0.10;
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

@keyframes moving-gradient {
    0% {
        left: 0;
    }
    100% {
        left: -2600px;
    }
}

@keyframes scale-gradient {
    0% {
        transform: scale(1.0, 1.0);
    }
    25% {
        transform: scale(1.3, 1.0);
    }
    50% {
        transform: scale(1.1, 1.0);
    }
    75% {
        transform: scale(1.2, 1.0);
    }
    100% {
        transform: scale(1.0, 1.0);
    }
}

@mixin clear-after {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin list-reset {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

@mixin cta-button {
    display: inline-block;
    border: 2px solid rgba(255,255,255, 0.75);
    background-color: transparent;
    color: white;
    padding: 0.5em 3em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4em;
    cursor: pointer;

    transition: background-color 0.2s;

    &:hover {
        background-color: rgba(255,255,255, 0.2);
    }
}

@mixin medium-screen {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin large-screen {
  @media only screen and (min-width: #{$large-width}) {
    @content;
  }
}
