$f-mono: 'Space Mono', monospace;
$f-alt-gothic: 'alternate-gothic-no-1-d', sans-serif;

$medium-width: 719px;
$large-width: 1023px;

$c-grey: rgb(205,215,224);
$c-orange: rgb(255,101,36);
$c-red: rgb(255,67,52);
$c-darkblue: rgb(13,27,77);
$c-brightpink: rgb(249,5,205);
$c-aubergine: rgb(178,31,129);
$c-paleorange: rgb(255,80,0);
$c-pink: rgb(255,44,101);
$c-purple: rgb(13,21,108);

$c-grad00: $c-grey;
$c-grad01: $c-orange;
$c-grad02: $c-red;
$c-grad03: $c-paleorange;
$c-grad04: $c-brightpink;
$c-grad05: $c-aubergine;
$c-grad06: $c-grey;
$c-grad07: $c-paleorange;
$c-grad08: $c-pink;
$c-grad09: white;
$c-grad10: $c-purple;
