<!doctype html>
<html>
    <head>
        <style>{{ style | safe }}</style>
    </head>
    <body>
        <div class="asset {{ medium }} {{ format }}">
            <div class="content gradient-container">
                <div class="gradient" style="left: -{{ grad }}%"></div>
                <div class="title">{{ title }}</div>
                <div class="info">{{ info }}</div>
            </div>
            <div class="footer">
                <div class="link">
                    Part of Disobedience Live<br>
                    disobedience.live/events
                </div>
                <div class="logo">
                    DIS_OBEDIENCE.LIVE
                </div>
            </div>
        </div>
    </body>
</html>
