<!doctype html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
        <meta charset="UTF-8">
        <style>
            body, html {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
        <style>{{ style | safe }}</style>
    </head>
    <body>
        <div class="asset {{ medium }} {{ format }}">
            <div class="content gradient-container">
                <div class="gradient" style="left: -{{ grad }}%"></div>
                <div class="title">{{ title |safe }}</div>
                <div class="info">{{ info |safe }}</div>
            </div>
            <div class="footer">
                <div class="link">
                    Part of Disobedience Live<br>
                    disobedience.live/events
                </div>
                {% if medium == 'print' %}
                <img class="logo" src="{{ static_path }}/images/logo.svg">
                {% else %}
                <img class="logo" src="{{ static_path }}/images/logo-white.svg">
                {% endif %}
            </div>
        </div>
    </body>
</html>
