<!doctype html>
<html>
    <head>
        <title>Communications asset editor</title>
        <link rel="icon" href="/static/images/favicon.png">
        <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        <script src="https://use.typekit.net/rdb8ojx.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <script src="/static/main.js"></script>
    </head>
    <body>
        <div class="page">
            <div class="header">
                <h1>DIS_OBEDIENCE.LIVE</h1>
                <small>Communications asset editor</small>
            </div>
            <h2>Edit the content</h2>
            <div class="entry">
                <ul class="inputs">
                    <li>
                        <label for="titleInput">Title</label>
                        <input type="text" id="titleInput" value="Your event title here">
                    </li>
                    <li>
                        <label for="titleInput">Info</label>
                        <input type="text" id="infoInput" value="Your event info here">
                    </li>
                    <li>
                        <label for="titleInput">Gradient offset</label>
                        <input type="range" id="gradInput" min="0.0" max="1.0" step="0.01">
                    </li>
                </ul>
            </div>

            <h2>Get the assets</h2>
            <div class="previews">
                {% for asset in assets %}
                <div class="preview">
                    <h3>{{ asset.2 }}</h3>
                    <div class="asset {{ asset.0 }} {{ asset.1 }}">
                        <div class="content gradient-container">
                            <div class="gradient"></div>
                            <div class="title"></div>
                            <div class="info"></div>
                        </div>
                        <div class="footer">
                            <div class="link">
                                Part of Disobedience Live<br>
                                disobedience.live/events
                            </div>
                            <img class="logo" src="/static/images/logo-white.svg">
                        </div>
                    </div>
                    <a href="">Download this asset ({{ asset.3 }})</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
